@font-face{
    font-family: teko;
    src: url(./fonts/Teko-Regular.ttf);
}
@font-face{
    font-family: teko;
    font-weight: lighter;
    src: url(./fonts/Teko-Light.ttf);
}
@font-face{
    font-family: teko;
    font-weight: 300;
    src: url(./fonts/Teko-Medium.ttf);
}
@font-face{
    font-family: teko;
    font-weight: bold;
    src: url(./fonts/Teko-Bold.ttf);
}
@font-face{
    font-family: teko;
    font-weight: 500;
    src: url(./fonts/Teko-SemiBold.ttf);
}