
section.pt-contact{
    background-image: url(./images/contact/ismail-enes-ayhan-9TQAwJvlZUY-unsplash.jpg);
    background-position: bottom;
}
section.contact-info{
    background-color: $sectionDark;
    color:#fff;
    padding:70px 0;
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap:20px;
    }
    .c-info{
        padding:30px;
        border-left:3px solid $primaryColor;
        line-height: 160%;
    }
}
section.contact-form{
    background-color: $sectionDark;
    padding:70px 20px;
    .wrapper{
        background-color: #fff;
        padding:40px;
        h3{
            color:$primaryColor;
            text-align: center;
            margin-bottom:25px;
        }
        form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap:20px;
            input{
                grid-column-start: 1;
                grid-column-end: 3;
                width: 100%;
                height: 35px;
                border:none;
                border-bottom: 2px solid $sectionDark;
            }
            textarea{
                grid-column-start: 1;
                grid-column-end: 3;
                width: 100%;
                resize: none;
                height: 170px;
                border:none;
                border-bottom: 2px solid $sectionDark;
            }
            .centering{
                grid-column-start: 1;
                grid-column-end: 3;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    border:none;
                    background-color: $primaryColor;
                    color:#fff;
                    width: 130px;
                }
            }
        }
    }
}


                /*Tablet*/
@media only screen and (min-width:768px){
    section.contact-info{
        .wrapper{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    section.contact-form{
        .wrapper{
            form{
                input:nth-of-type(1){
                    grid-column-start: 1;
                    grid-column-end: 2;
                }
                input:nth-of-type(2){
                    grid-column-start: 2;
                    grid-column-end: 3;
                }
            }
        }
    }
}
                /*Laptop*/
//@media only screen and (min-width:960px){}               
                /*Desktop*/
//@media only screen and (min-width:1220px){}