section.pt-section{
    background-image: url(./images/services/bernd-dittrich-eCc7FjMoR74-unsplash.jpg);
}

section.services-second{
    background-color: $sectionDark;
    color:#fff;
    padding:90px 0;
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        gap:60px;
        .service{
            display: grid;
            grid-template-columns: 1fr;
            gap:20px;
            h3{
                color:$primaryColor;
                padding-bottom: 20px;
            }
            p{
                font-size: 1.1em;
                line-height: 120%;
                
            }
            .image{
                height: 200px;
                @include backImg();
            }
            &:nth-of-type(1) .image{
                background-image: url(./images/services/andy-li-CpsTAUPoScw-unsplash.jpg);
            }
            &:nth-of-type(2) .image{
                background-image: url(./images/services/charles-lebegue-BdVvAeq08Fc-unsplash.jpg);
            }
            &:nth-of-type(3) .image{
                background-image: url(./images/services/hannes-egler-nT4k2JDtwTQ-unsplash.jpg);
            }
            &:nth-of-type(4) .image{
                background-image: url(./images/services/ismail-enes-ayhan-9TQAwJvlZUY-unsplash.jpg);
            }
            

        }
    }
}

section.st1-services{
    padding:80px 0;
}


                /*Tablet*/
@media only screen and (min-width:768px){
    section.services-second{
        .wrapper{
            grid-template-columns: 1fr 1fr;
            .service{
                gap:40px;
            }
        }
    }
}
                /*Laptop*/
@media only screen and (min-width:960px){
    section.services-second{
        .wrapper{
            .service{
                .image{
                    height: 250px;
                }
            }
        }
    }
}               
                /*Desktop*/
@media only screen and (min-width:1220px){
    section.services-second{
        .wrapper{
            .service{
                .image{
                    height: 320px;
                }
            }
        }
    }
}