section.pt-ourvehicles{
    background-image: url(./images/vehicles/shay-5n2EemBYQm4-unsplash.jpg);
}
section.vehicle{
    background-color: $sectionDark;
    color:#fff;
    padding-top:60px;
    padding-bottom:30px;
    h3{
        font-size: 2.6em;
        margin-bottom: 30px;
    }
    .photo-info{
        display: grid;
        grid-template-columns: 1fr;
        gap:30px;
        .info{
            display: grid;
            grid-template-columns: 1fr;
            gap:30px;
            p.type{
                font-size: 1.8em;
            }
            img{
                max-width: 100px;
                margin:20px 0;
            }
            p.desc{
                padding-bottom: 20px;
                border-bottom: 4px solid $primaryColor;
                margin-bottom: 20px;
            }
            p.spec{
                line-height: 130%;
                margin-bottom: 10px;
            }
        }
        .photo{
            @include backImg();
            width: 100%;
            height: 450px;
        }
    }
}
section.vehicle1 .photo-info .photo {
    background-image: url(./images/vehicles/ernesto-leon-4H_I-HRjkyA-unsplash.jpg);
}
section.vehicle2 .photo-info .photo {
    background-image: url(./images/vehicles/matthew-t-rader-1shWwOrkxEM-unsplash.jpg);
}


                /*Tablet*/
@media only screen and (min-width:768px){
    section.vehicle{
        .photo-info{
            grid-template-columns: 1fr 1fr;
            .info{
                grid-template-columns: 1fr 1fr;
            }
        }
        
    }
}
                /*Laptop*/
@media only screen and (min-width:960px){
    section.vehicle{
        h3{
            font-size: 3.8em;
        }
        .photo-info{
            .info{
                font-size: 1.2em;
            }
        }
        
    }
}               
                /*Desktop*/
//@media only screen and (min-width:1220px){}
