section.page-top{
    height:450px;
    @include backImg();
    
    .wrapper{
        height: 100%;
        h2{
            position: relative;
            top:50%;
            color:#fff;
        }
    }
}
section.pt-about{
    background-image: url(./images/about/jack-anstey-zS4lUqLEiNA-unsplash.jpg);
}
section.about-second{
    background-color: $sectionDark;
    padding:80px 0;
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        //g-t-c:1fr 1fr;
        .left{
            background-color: $sectonLight;
            padding:50px;
            letter-spacing: 0.5px;
            color:#000;
            h3{
                padding-bottom: 40px;
                letter-spacing: 0;
            }
            p{
                padding-bottom: 10px;
            }
            ul{
                padding-left:15px;
                li{
                    list-style: circle;
                    padding-bottom: 10px;
                }
            }

        }
        .right{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .road{
                width: 100%;
                height: 290px;
                @include backImg();
                background-image: url(./images/about/denys-nevozhai-7nrsVjvALnA-unsplash.jpg);
            }
            .container{
                background-image: url(./images/about/lucas-van-oort-fBZOVyF-96w-unsplash.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position:center ;
            }
            .button{
                grid-column-start: 2;
                display: flex;
                justify-content: right;
                a{
                    width: 120px;
                    height: 40px;
                    padding:12px 0;
                    color:#fff;
                    background-color: $primaryColor;
                    font-weight: lighter;
                    text-align: center;
                }
            }
        }
    }
}
section.team{
    background-color: $sectionDark;
    color: #fff;
    padding:30px 0;
    h3{
        font-size: 2.5em;
    }
    .wrapper{
        .profiles{
            display: grid;
            grid-template-columns: 1fr;
            padding:30px 0;
            gap:20px;
            .member{
                display: grid;
                grid-template-columns: 1fr;
                .member-photo{
                    width: 100%;
                    height: 370px;
                    @include backImg();
                }
                .member-desc{
                    padding:30px;
                    h4{
                        padding-bottom: 10px;
                        color:$primaryColor;
                    }
                }
            }
            .member:nth-of-type(1) .member-photo{
                background-image: url(./images/about/justus-menke-s2OisyY9YGU-unsplash.jpg);
            }
            .member:nth-of-type(2) .member-photo{
                background-image: url(./images/about/carlos-lindner-zvZ-HASOA74-unsplash.jpg);
            }
            .member:nth-of-type(3) .member-photo{
                background-image: url(./images/about/ben-parker-OhKElOkQ3RE-unsplash.jpg);
            }
            .member:nth-of-type(4) .member-photo{
                background-image: url(./images/about/jurica-koletic-7YVZYZeITc8-unsplash.jpg);
                background-position: top;
            }
        }
    }
}
section.st1-about{
    padding:90px 0;
    background-color: $primaryColor;
    h3{
        color:#fff;
        font-size: 3em;
    }
    .wrapper .section-type-1 .st1-right a{
        background-color: #fff;
        color:$sectionDark;
        &:hover{
            color:#fff;
            background-color: transparent;
            border: 3px solid #fff;
        }
    }
}


              /*Big Mobiles*/
@media only screen and (min-width:575px){
    section.page-top .wrapper h2{
        font-size: 3.8em;
    }
    section.about-second{
        .wrapper{
            .right{
                .button{
                    padding-top:20px;
                }
                .container{
                    background-size: cover;
                }
            }
        }
    }
    section.team{
        .wrapper{
            h3{
                font-size: 3em;
            }
            .profiles{
                .member{
                    .member-photo{
                        height: 500px;
                    }
                }
            }
        }
    }

}
                /*Tablet*/
@media only screen and (min-width:768px){
    section.about-second{
        .wrapper{
            grid-template-columns: 1fr 1fr;
        }
    }
    section.team{
        .wrapper{
            .profiles{
                grid-template-columns: 1fr 1fr;
                .member{
                    grid-template-columns: 1fr 1fr;
                    .member-photo{
                        height: 230px;
                    }
                    .member-desc{
                        line-height: 160%;
                    }
                }
            }
        }
    }
}
                /*Laptop*/
@media only screen and (min-width:960px){
    section.team{
        .wrapper{
            h3{
                font-size: 4em;
                padding-bottom: 40px;
            }
            .profiles{
                gap:70px;
                .member{
                    .member-photo{
                        height: 260px;
                    }
                    .member-desc{
                        line-height: 160%;
                    }
                }
            }
        }
    }
    section.st1-about{
        .wrapper .section-type-1 .st1-right a{
            width: 200px;
        }
    }
}               
                /*Desktop*/
@media only screen and (min-width:1220px){
    section.page-top .wrapper h2{
        font-size: 5em;
    }
}