.home-top{
    //border: 2px solid orangered;
    height: 750px;
    @include backImg();
    background-image: url(./images/home/home-top-berlin.jpg);
    .wrapper{
        height: 100%;
        width: 100%;
        color:#fff;
        
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        .ht-main{
            font-size: 2.8em;
            a{
                font-weight: 300;
                color:#fff;
                background-color: $primaryColor;
                border-radius: 3px;
                padding:8px 20px 5px 20px;
                font-size: 0.4em;
                text-align: center;
                transition: all 0.1s ease-in;
                border:3px solid transparent;
                &:hover{
                    background-color: transparent;
                    border:3px solid $primaryColor;
                }
            }
        }
        .ht-quote{
            display: none;
        }
    }
}

.home-lil-about{
    background-color: $sectionDark;
    color:$primaryColor;
    padding-top:50px;
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        .text{
            //border: 2px solid blue;
            height: 220px;
            padding:40px;
            display: flex;
            flex-direction:column;
            justify-content: space-between;
            font-size: 1.3em;
            line-height: 140%;
            a{
                color:$primaryColor;
                font-size: 1.2em;
            }
        }
        .photo{
            height: 220px;
            @include backImg();
            background-image: url(./images/home/home-lil-about.jpg);
        }
    }
}
.home-ourvehicle{
    //border:1px solid pink;
    color:#fff;
    background-color: $sectionDark;
    padding:80px 0;
    a{color:$primaryColor};
    .wrapper{
        h2{margin-bottom: 40px;}
        a.ho-redirect{
            width: 100%;
            text-align: right;
            margin-bottom: 40px;
            transition: all 0.1s;
            &:hover{
                color:#fff;
            }
        }
        .ho-mid{
            display: grid;
            grid-template-columns: 1fr;
            gap:30px;
            .hb-inner{
                //border:1px solid orangered;
                img{
                    width: 85px;
                    padding:30px 0;
                }
                p{
                    letter-spacing: 0.4px;
                    line-height: 150%;
                    padding-bottom: 30px;
                }
                a{
                    font-size: 1.7em;
                    transition: all 0.1s;
                    &:hover{
                        color:#fff;
                    }
                }
            }
        }
        .ho-bottom{
            display: grid;
            grid-template-columns: 1fr;
            gap:20px;
            margin-top: 40px;
            .left,.right{
                //border:1px solid red;
                height: 230px;
                position: relative;
                @include backImg();
                a{
                    position: absolute;
                    width: 100%;
                    height: 40px;
                    color:#fff;
                    bottom: 0;
                    font-size: 1.1em;
                    background-color: $primaryColor;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.1s;
                    &:hover{
                        height: 50px;
                    }
                }
            }
            .left{
                background-image: url(./images/home/ho-bottom1.jpg);
            }
            .right{
                background-image: url(./images/home/ho-bottom2.jpg);
            }
        }
    }
}
.home-stats{
    padding:80px 0;
    .stats{
        margin:60px 0;
        //border:2px solid blue;
        display: grid;
        grid-template-columns: 1fr;
        gap:20px;
        .pro-bar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            //border:2px solid violet;
            p{
                color:rgb(78, 78, 78);
                font-size: 1.2em;
            }
            .circle{
                width: 140px;
                height: 140px;
                @include backImg();
                background-image: url(./images/home/pbar82.png);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2em;
                margin-bottom: 10px;
            }
            
        }
    }
    
}
.section-type-1{
    display: grid;
    grid-template-columns: 1fr;
    gap:20px;
    .st1-left{
        height: 400px;
    }
    .st1-left{
        position: relative;
        p{
            position: absolute;
            bottom:60px;
            background-color: $sectionDark;
            color:$primaryColor;
            padding:40px;
            font-size: 1.1em;
            line-height: 140%;
        }
        @include backImg();
        background-image: url(./images/home/st1-left01.jpg);
    }
    .st1-right{
        //border:1px solid red;
        h3,p{
            padding-bottom: 30px;
        }
        p{
            font-size: 1.1em;
            letter-spacing: 0.5px;
        }
        a{
            color:#fff;
            background-color: $primaryColor;
            box-sizing: border-box;
            border-radius: 3px;
            padding:12px 24px 9px 24px;
            border:3px solid transparent;
            transition: all 0.1s ease-in;
            &:hover{
                background-color: transparent;
                border:3px solid $primaryColor;
                color:$primaryColor;
            }
        }
    }
}


/*RESPONSIVE*/
           /*Small Tablets*/
@media only screen and (min-width:575px){
    .home-stats{
        .stats{
            grid-template-columns: repeat(2,1fr);
        }
    }
    .home-ourvehicle{
        .wrapper{
            .ho-mid{
                grid-template-columns: repeat(2,1fr);
            }
            .ho-bottom{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}
                /*Tablet*/
@media only screen and (min-width:768px){
    .home-top{
        height: 700px;
        .wrapper{
            h1{
                font-size: 1.5em;
            }
            .ht-quote{
                display: inline-block;
                max-width: 140px;
                line-height: 150%;
                border-right: 2px solid $primaryColor;
                img{
                    width: 30px;
                }
            }
        }
    }
    .home-lil-about{
        .wrapper{
            background-color: $sectionDark;
            grid-template-columns: repeat(2,1fr);
            padding-top:-200px;
        }
    }
    .home-ourvehicle{
        .wrapper{
            .ho-mid{
                grid-template-columns: repeat(4,1fr);
            }
        }
    }
    .home-stats{
        .stats{
            grid-template-columns: repeat(4,1fr);
        }
    }
    .section-type-1{
        grid-template-columns: repeat(2,1fr);
        .st1-left{
            height: 320px;
        }
        .st1-right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            a{
                text-align: center;
            }
        }
    }
}
                /*Laptop*/
@media only screen and (min-width:960px){
    .home-top{
        .wrapper{
            .ht-quote{
                max-width:200px;
                font-size: 1.4em;
            }
        }
    }
    .home-ourvehicle{
        .wrapper{
            .ho-bottom{
               .left,.right{
                   height: 300px;
                   a{
                       height: 60px;
                       font-size: 1.5em;
                   }
               }
            }
        }
    }
    .section-type-1{
        font-size: 1.1em;
    }
}
                /*Desktop*/
@media only screen and (min-width:1220px){
    .home-lil-about{
        padding-top:60px;
        .wrapper{
            .text,.photo{
                height: 300px;
            }
        }
    }

}