/*--------GENERAL FILES--------*/
@font-face {
  font-family: teko;
  src: url(./fonts/Teko-Regular.ttf);
}

@font-face {
  font-family: teko;
  font-weight: lighter;
  src: url(./fonts/Teko-Light.ttf);
}

@font-face {
  font-family: teko;
  font-weight: 300;
  src: url(./fonts/Teko-Medium.ttf);
}

@font-face {
  font-family: teko;
  font-weight: bold;
  src: url(./fonts/Teko-Bold.ttf);
}

@font-face {
  font-family: teko;
  font-weight: 500;
  src: url(./fonts/Teko-SemiBold.ttf);
}

/*--------GENERAL PROPERTIES-------*/
* {
  font-family: teko,Arial, Helvetica, sans-serif;
}

* a {
  text-decoration: none;
  display: inline-block;
}

h2 {
  font-size: 3em;
}

h4 {
  font-size: 1.5em;
}

h3 {
  font-size: 2em;
}

.wrapper {
  padding: 0 20px;
  max-width: 570px;
  margin: 0 auto;
}

.res-header {
  height: 70px;
  position: fixed;
  top: 0;
  background-color: rgba(18, 26, 28, 0.9);
}

.res-header .logo {
  width: 200px;
}

header {
  position: fixed;
  min-width: 100%;
  height: 70px;
  padding: 5px 15px;
  font-family: teko;
  font-weight: bold;
  background-color: rgba(18, 26, 28, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 6;
}

header nav {
  display: none;
}

header .logo {
  width: 200px;
}

header .responsive-icon {
  width: 23px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

header .responsive-icon:hover {
  width: 27px;
}

.responsivko {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 270px;
  min-height: 100vh;
  background-color: #141414;
  z-index: 9;
  padding: 14px;
  display: none;
}

.responsivko nav {
  margin-top: 60px;
}

.responsivko nav ul li {
  min-width: 100%;
  padding-left: 10px;
  border-bottom: 1px solid rgba(75, 75, 75, 0.726);
  font-family: teko,Arial, Helvetica, sans-serif;
  padding: 10px;
  font-size: 1.3em;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.responsivko nav ul li:first-of-type {
  border-top: 1px solid rgba(75, 75, 75, 0.726);
}

.responsivko nav ul li a {
  color: #c9c9c9;
  text-transform: uppercase;
}

.responsivko nav ul li a:hover {
  color: #fff;
}

.responsivko p.goback {
  font-family: teko,Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
  width: 100%;
  text-align: right;
  color: #c9c9c9;
  cursor: pointer;
}

.responsivko p.goback:hover {
  color: #fff;
}

@-webkit-keyframes resshow {
  0% {
    right: -270px;
  }
  100% {
    right: 0px;
  }
}

@keyframes resshow {
  0% {
    right: -270px;
  }
  100% {
    right: 0px;
  }
}

.responsivko-show {
  display: inline-block;
  -webkit-animation: resshow 0.7s cubic-bezier(0.23, 1, 0.32, 1) 1;
          animation: resshow 0.7s cubic-bezier(0.23, 1, 0.32, 1) 1;
}

footer {
  background-color: #efefef;
  font-family: teko,Arial, Helvetica, sans-serif;
  color: #161616;
}

footer .first-footer {
  padding: 80px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 15px;
  text-align: center;
  border-bottom: 1px solid rgba(207, 207, 207, 0.815);
}

footer .first-footer img {
  width: 190px;
}

footer .first-footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .first-footer .right .icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 22px;
  width: 22px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

footer .first-footer .right .icon:hover {
  background-position: top;
}

footer .first-footer .right .icon:nth-of-type(1) {
  background-image: url(./images/sprite/facebook.png);
}

footer .first-footer .right .icon:nth-of-type(2) {
  background-image: url(./images/sprite/linkedin.png);
}

footer .first-footer .right .icon:nth-of-type(3) {
  background-image: url(./images/sprite/twitter.png);
}

footer .first-footer .right .icon:nth-of-type(4) {
  background-image: url(./images/sprite/youtube.png);
  margin: 0;
}

footer .second-footer {
  text-align: center;
  padding: 30px 0;
  letter-spacing: 1px;
  font-size: 0.9em;
}

footer .second-footer span {
  color: #36d56e;
}

/*--------PAGE FILES-------*/
.home-top {
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/home/home-top-berlin.jpg);
}

.home-top .wrapper {
  height: 100%;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-top .wrapper .ht-main {
  font-size: 2.8em;
}

.home-top .wrapper .ht-main a {
  font-weight: 300;
  color: #fff;
  background-color: #36d56e;
  border-radius: 3px;
  padding: 8px 20px 5px 20px;
  font-size: 0.4em;
  text-align: center;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  border: 3px solid transparent;
}

.home-top .wrapper .ht-main a:hover {
  background-color: transparent;
  border: 3px solid #36d56e;
}

.home-top .wrapper .ht-quote {
  display: none;
}

.home-lil-about {
  background-color: #232e30;
  color: #36d56e;
  padding-top: 50px;
}

.home-lil-about .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.home-lil-about .wrapper .text {
  height: 220px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3em;
  line-height: 140%;
}

.home-lil-about .wrapper .text a {
  color: #36d56e;
  font-size: 1.2em;
}

.home-lil-about .wrapper .photo {
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/home/home-lil-about.jpg);
}

.home-ourvehicle {
  color: #fff;
  background-color: #232e30;
  padding: 80px 0;
}

.home-ourvehicle a {
  color: #36d56e;
}

.home-ourvehicle .wrapper h2 {
  margin-bottom: 40px;
}

.home-ourvehicle .wrapper a.ho-redirect {
  width: 100%;
  text-align: right;
  margin-bottom: 40px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.home-ourvehicle .wrapper a.ho-redirect:hover {
  color: #fff;
}

.home-ourvehicle .wrapper .ho-mid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
}

.home-ourvehicle .wrapper .ho-mid .hb-inner img {
  width: 85px;
  padding: 30px 0;
}

.home-ourvehicle .wrapper .ho-mid .hb-inner p {
  letter-spacing: 0.4px;
  line-height: 150%;
  padding-bottom: 30px;
}

.home-ourvehicle .wrapper .ho-mid .hb-inner a {
  font-size: 1.7em;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.home-ourvehicle .wrapper .ho-mid .hb-inner a:hover {
  color: #fff;
}

.home-ourvehicle .wrapper .ho-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 40px;
}

.home-ourvehicle .wrapper .ho-bottom .left, .home-ourvehicle .wrapper .ho-bottom .right {
  height: 230px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-ourvehicle .wrapper .ho-bottom .left a, .home-ourvehicle .wrapper .ho-bottom .right a {
  position: absolute;
  width: 100%;
  height: 40px;
  color: #fff;
  bottom: 0;
  font-size: 1.1em;
  background-color: #36d56e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.home-ourvehicle .wrapper .ho-bottom .left a:hover, .home-ourvehicle .wrapper .ho-bottom .right a:hover {
  height: 50px;
}

.home-ourvehicle .wrapper .ho-bottom .left {
  background-image: url(./images/home/ho-bottom1.jpg);
}

.home-ourvehicle .wrapper .ho-bottom .right {
  background-image: url(./images/home/ho-bottom2.jpg);
}

.home-stats {
  padding: 80px 0;
}

.home-stats .stats {
  margin: 60px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

.home-stats .stats .pro-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-stats .stats .pro-bar p {
  color: #4e4e4e;
  font-size: 1.2em;
}

.home-stats .stats .pro-bar .circle {
  width: 140px;
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/home/pbar82.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  margin-bottom: 10px;
}

.section-type-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

.section-type-1 .st1-left {
  height: 400px;
}

.section-type-1 .st1-left {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/home/st1-left01.jpg);
}

.section-type-1 .st1-left p {
  position: absolute;
  bottom: 60px;
  background-color: #232e30;
  color: #36d56e;
  padding: 40px;
  font-size: 1.1em;
  line-height: 140%;
}

.section-type-1 .st1-right h3, .section-type-1 .st1-right p {
  padding-bottom: 30px;
}

.section-type-1 .st1-right p {
  font-size: 1.1em;
  letter-spacing: 0.5px;
}

.section-type-1 .st1-right a {
  color: #fff;
  background-color: #36d56e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 12px 24px 9px 24px;
  border: 3px solid transparent;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.section-type-1 .st1-right a:hover {
  background-color: transparent;
  border: 3px solid #36d56e;
  color: #36d56e;
}

/*RESPONSIVE*/
/*Small Tablets*/
@media only screen and (min-width: 575px) {
  .home-stats .stats {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .home-ourvehicle .wrapper .ho-mid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .home-ourvehicle .wrapper .ho-bottom {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  .home-top {
    height: 700px;
  }
  .home-top .wrapper h1 {
    font-size: 1.5em;
  }
  .home-top .wrapper .ht-quote {
    display: inline-block;
    max-width: 140px;
    line-height: 150%;
    border-right: 2px solid #36d56e;
  }
  .home-top .wrapper .ht-quote img {
    width: 30px;
  }
  .home-lil-about .wrapper {
    background-color: #232e30;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding-top: -200px;
  }
  .home-ourvehicle .wrapper .ho-mid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .home-stats .stats {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .section-type-1 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .section-type-1 .st1-left {
    height: 320px;
  }
  .section-type-1 .st1-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-type-1 .st1-right a {
    text-align: center;
  }
}

/*Laptop*/
@media only screen and (min-width: 960px) {
  .home-top .wrapper .ht-quote {
    max-width: 200px;
    font-size: 1.4em;
  }
  .home-ourvehicle .wrapper .ho-bottom .left, .home-ourvehicle .wrapper .ho-bottom .right {
    height: 300px;
  }
  .home-ourvehicle .wrapper .ho-bottom .left a, .home-ourvehicle .wrapper .ho-bottom .right a {
    height: 60px;
    font-size: 1.5em;
  }
  .section-type-1 {
    font-size: 1.1em;
  }
}

/*Desktop*/
@media only screen and (min-width: 1220px) {
  .home-lil-about {
    padding-top: 60px;
  }
  .home-lil-about .wrapper .text, .home-lil-about .wrapper .photo {
    height: 300px;
  }
}

section.page-top {
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.page-top .wrapper {
  height: 100%;
}

section.page-top .wrapper h2 {
  position: relative;
  top: 50%;
  color: #fff;
}

section.pt-about {
  background-image: url(./images/about/jack-anstey-zS4lUqLEiNA-unsplash.jpg);
}

section.about-second {
  background-color: #232e30;
  padding: 80px 0;
}

section.about-second .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

section.about-second .wrapper .left {
  background-color: #fff;
  padding: 50px;
  letter-spacing: 0.5px;
  color: #000;
}

section.about-second .wrapper .left h3 {
  padding-bottom: 40px;
  letter-spacing: 0;
}

section.about-second .wrapper .left p {
  padding-bottom: 10px;
}

section.about-second .wrapper .left ul {
  padding-left: 15px;
}

section.about-second .wrapper .left ul li {
  list-style: circle;
  padding-bottom: 10px;
}

section.about-second .wrapper .right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

section.about-second .wrapper .right .road {
  width: 100%;
  height: 290px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/about/denys-nevozhai-7nrsVjvALnA-unsplash.jpg);
}

section.about-second .wrapper .right .container {
  background-image: url(./images/about/lucas-van-oort-fBZOVyF-96w-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

section.about-second .wrapper .right .button {
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

section.about-second .wrapper .right .button a {
  width: 120px;
  height: 40px;
  padding: 12px 0;
  color: #fff;
  background-color: #36d56e;
  font-weight: lighter;
  text-align: center;
}

section.team {
  background-color: #232e30;
  color: #fff;
  padding: 30px 0;
}

section.team h3 {
  font-size: 2.5em;
}

section.team .wrapper .profiles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 30px 0;
  gap: 20px;
}

section.team .wrapper .profiles .member {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

section.team .wrapper .profiles .member .member-photo {
  width: 100%;
  height: 370px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.team .wrapper .profiles .member .member-desc {
  padding: 30px;
}

section.team .wrapper .profiles .member .member-desc h4 {
  padding-bottom: 10px;
  color: #36d56e;
}

section.team .wrapper .profiles .member:nth-of-type(1) .member-photo {
  background-image: url(./images/about/justus-menke-s2OisyY9YGU-unsplash.jpg);
}

section.team .wrapper .profiles .member:nth-of-type(2) .member-photo {
  background-image: url(./images/about/carlos-lindner-zvZ-HASOA74-unsplash.jpg);
}

section.team .wrapper .profiles .member:nth-of-type(3) .member-photo {
  background-image: url(./images/about/ben-parker-OhKElOkQ3RE-unsplash.jpg);
}

section.team .wrapper .profiles .member:nth-of-type(4) .member-photo {
  background-image: url(./images/about/jurica-koletic-7YVZYZeITc8-unsplash.jpg);
  background-position: top;
}

section.st1-about {
  padding: 90px 0;
  background-color: #36d56e;
}

section.st1-about h3 {
  color: #fff;
  font-size: 3em;
}

section.st1-about .wrapper .section-type-1 .st1-right a {
  background-color: #fff;
  color: #232e30;
}

section.st1-about .wrapper .section-type-1 .st1-right a:hover {
  color: #fff;
  background-color: transparent;
  border: 3px solid #fff;
}

/*Big Mobiles*/
@media only screen and (min-width: 575px) {
  section.page-top .wrapper h2 {
    font-size: 3.8em;
  }
  section.about-second .wrapper .right .button {
    padding-top: 20px;
  }
  section.about-second .wrapper .right .container {
    background-size: cover;
  }
  section.team .wrapper h3 {
    font-size: 3em;
  }
  section.team .wrapper .profiles .member .member-photo {
    height: 500px;
  }
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  section.about-second .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.team .wrapper .profiles {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.team .wrapper .profiles .member {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.team .wrapper .profiles .member .member-photo {
    height: 230px;
  }
  section.team .wrapper .profiles .member .member-desc {
    line-height: 160%;
  }
}

/*Laptop*/
@media only screen and (min-width: 960px) {
  section.team .wrapper h3 {
    font-size: 4em;
    padding-bottom: 40px;
  }
  section.team .wrapper .profiles {
    gap: 70px;
  }
  section.team .wrapper .profiles .member .member-photo {
    height: 260px;
  }
  section.team .wrapper .profiles .member .member-desc {
    line-height: 160%;
  }
  section.st1-about .wrapper .section-type-1 .st1-right a {
    width: 200px;
  }
}

/*Desktop*/
@media only screen and (min-width: 1220px) {
  section.page-top .wrapper h2 {
    font-size: 5em;
  }
}

section.pt-section {
  background-image: url(./images/services/bernd-dittrich-eCc7FjMoR74-unsplash.jpg);
}

section.services-second {
  background-color: #232e30;
  color: #fff;
  padding: 90px 0;
}

section.services-second .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 60px;
}

section.services-second .wrapper .service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

section.services-second .wrapper .service h3 {
  color: #36d56e;
  padding-bottom: 20px;
}

section.services-second .wrapper .service p {
  font-size: 1.1em;
  line-height: 120%;
}

section.services-second .wrapper .service .image {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.services-second .wrapper .service:nth-of-type(1) .image {
  background-image: url(./images/services/andy-li-CpsTAUPoScw-unsplash.jpg);
}

section.services-second .wrapper .service:nth-of-type(2) .image {
  background-image: url(./images/services/charles-lebegue-BdVvAeq08Fc-unsplash.jpg);
}

section.services-second .wrapper .service:nth-of-type(3) .image {
  background-image: url(./images/services/hannes-egler-nT4k2JDtwTQ-unsplash.jpg);
}

section.services-second .wrapper .service:nth-of-type(4) .image {
  background-image: url(./images/services/ismail-enes-ayhan-9TQAwJvlZUY-unsplash.jpg);
}

section.st1-services {
  padding: 80px 0;
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  section.services-second .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.services-second .wrapper .service {
    gap: 40px;
  }
}

/*Laptop*/
@media only screen and (min-width: 960px) {
  section.services-second .wrapper .service .image {
    height: 250px;
  }
}

/*Desktop*/
@media only screen and (min-width: 1220px) {
  section.services-second .wrapper .service .image {
    height: 320px;
  }
}

section.pt-ourvehicles {
  background-image: url(./images/vehicles/shay-5n2EemBYQm4-unsplash.jpg);
}

section.vehicle {
  background-color: #232e30;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 30px;
}

section.vehicle h3 {
  font-size: 2.6em;
  margin-bottom: 30px;
}

section.vehicle .photo-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
}

section.vehicle .photo-info .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
}

section.vehicle .photo-info .info p.type {
  font-size: 1.8em;
}

section.vehicle .photo-info .info img {
  max-width: 100px;
  margin: 20px 0;
}

section.vehicle .photo-info .info p.desc {
  padding-bottom: 20px;
  border-bottom: 4px solid #36d56e;
  margin-bottom: 20px;
}

section.vehicle .photo-info .info p.spec {
  line-height: 130%;
  margin-bottom: 10px;
}

section.vehicle .photo-info .photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
}

section.vehicle1 .photo-info .photo {
  background-image: url(./images/vehicles/ernesto-leon-4H_I-HRjkyA-unsplash.jpg);
}

section.vehicle2 .photo-info .photo {
  background-image: url(./images/vehicles/matthew-t-rader-1shWwOrkxEM-unsplash.jpg);
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  section.vehicle .photo-info {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.vehicle .photo-info .info {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

/*Laptop*/
@media only screen and (min-width: 960px) {
  section.vehicle h3 {
    font-size: 3.8em;
  }
  section.vehicle .photo-info .info {
    font-size: 1.2em;
  }
}

/*Desktop*/
section.pt-contact {
  background-image: url(./images/contact/ismail-enes-ayhan-9TQAwJvlZUY-unsplash.jpg);
  background-position: bottom;
}

section.contact-info {
  background-color: #232e30;
  color: #fff;
  padding: 70px 0;
}

section.contact-info .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 20px;
}

section.contact-info .c-info {
  padding: 30px;
  border-left: 3px solid #36d56e;
  line-height: 160%;
}

section.contact-form {
  background-color: #232e30;
  padding: 70px 20px;
}

section.contact-form .wrapper {
  background-color: #fff;
  padding: 40px;
}

section.contact-form .wrapper h3 {
  color: #36d56e;
  text-align: center;
  margin-bottom: 25px;
}

section.contact-form .wrapper form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

section.contact-form .wrapper form input {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 2px solid #232e30;
}

section.contact-form .wrapper form textarea {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  resize: none;
  height: 170px;
  border: none;
  border-bottom: 2px solid #232e30;
}

section.contact-form .wrapper form .centering {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contact-form .wrapper form .centering input {
  border: none;
  background-color: #36d56e;
  color: #fff;
  width: 130px;
}

/*Tablet*/
@media only screen and (min-width: 768px) {
  section.contact-info .wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  section.contact-form .wrapper form input:nth-of-type(1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  section.contact-form .wrapper form input:nth-of-type(2) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
}

/*Laptop*/
/*Desktop*/
/*Big Mobiles*/
/*Tablet*/
/*Laptop*/
/*Desktop*/
/*--------RESPONSIVE DESIGN-------*/
/*Small Tablets*/
/*Tablet*/
@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 748px;
  }
  header {
    height: 150px;
    padding: 5px 30px;
    background-color: transparent;
  }
  header .logo {
    width: 250px;
  }
  .responsivko {
    top: 150px;
  }
  .responsivko-skrol {
    top: 70px;
  }
  footer .first-footer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

/*Laptop*/
@media only screen and (min-width: 960px) {
  .wrapper {
    max-width: 960px;
  }
}

/*Desktop*/
@media only screen and (min-width: 1220px) {
  .wrapper {
    max-width: 1100px;
  }
  header nav {
    display: inline-block;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav ul li {
    margin-right: 22px;
  }
  header nav ul li a {
    color: #fff;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  header nav ul li a:hover {
    color: #36d56e;
  }
  header .responsive-icon {
    display: none;
  }
  footer {
    font-size: 1.1em;
  }
}
/*# sourceMappingURL=style.css.map */