/*--------GENERAL FILES--------*/
@import './colors';
@import './fonts';
@import './blocks';



/*--------GENERAL PROPERTIES-------*/
*{
    font-family: teko,Arial, Helvetica, sans-serif;
    a{text-decoration: none; display:inline-block;}
}

h2{font-size: 3em;}
h4{font-size: 1.5em;}
h3{font-size: 2em;}

.wrapper{
    padding:0 20px;
    max-width: 570px;
    margin: 0 auto;
}
.res-header{
    height: 70px;
    position: fixed;
    top:0;
    background-color: $headerBack;
    .logo{
        width: 200px;
    }
}
header{
    position: fixed;
    min-width: 100%;
    height: 70px;
    padding:5px 15px;
    //border: 1px solid red;
    font-family: teko;
    font-weight: bold;
    background-color: $headerBack;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;
    z-index: 6;
    nav{
        display: none;
    }
    .logo{
        width: 200px;
    }
    .responsive-icon{
        width: 23px;
        transition: all 0.2s;
        cursor: pointer;
        &:hover{
            width: 27px;
        }
    }
}
.responsivko{
    position: fixed;
    right: 0;
    top:0;
    width: 100%;
    max-width: 270px;
    min-height: 100vh;
    background-color: rgb(20, 20, 20);
    z-index: 9;
    padding:14px;
    display: none;
    nav{
        margin-top:60px;
    }
    nav ul li{
        min-width: 100%;
        padding-left:10px;
        border-bottom: 1px solid rgba(75, 75, 75, 0.726);
        font-family: teko,Arial, Helvetica, sans-serif;
        padding:10px;
        font-size: 1.3em;
        transition: background 0.3s;
        transform: rotateX(00deg);
        &:first-of-type{
            border-top: 1px solid rgba(75, 75, 75, 0.726);
        }
        a{
            color:rgb(201, 201, 201);
            text-transform: uppercase;
            &:hover{
                color:#fff;
            }
        }
    }
    p.goback{
        font-family: teko,Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 1.5em;
        width: 100%;
        text-align: right;
        color:rgb(201, 201, 201);
        cursor: pointer;
        &:hover{
            color:#fff;
        }
    }
}
@keyframes resshow{
    0%{right:-270px;}
    100%{right:0px;}
}
.responsivko-show{
    display: inline-block;
    animation: resshow 0.7s cubic-bezier(0.23, 1, 0.320, 1) 1;
}
footer{
    background-color: $footerBack;
    font-family: teko,Arial, Helvetica, sans-serif;
    color:rgb(22, 22, 22);
    .first-footer{
        padding:80px 0;
        display: grid;
        grid-template-columns: 1fr;
        gap:15px;
        text-align: center;
        //grid-template-columns: 1fr 1fr 1fr;
        img{
            width: 190px;
        }
        .right{
            display: flex;
            justify-content: center;
            .icon{
                @include backImg();
                background-position: bottom;
                height: 22px;
                width: 22px;
                margin-right: 10px;
                cursor: pointer;
                transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                &:hover{
                    background-position: top;
                }
            }
            .icon:nth-of-type(1){
                background-image: url(./images/sprite/facebook.png);
            }
            .icon:nth-of-type(2){
                background-image: url(./images/sprite/linkedin.png);
            }
            .icon:nth-of-type(3){
                background-image: url(./images/sprite/twitter.png);
            }
            .icon:nth-of-type(4){
                background-image: url(./images/sprite/youtube.png);
                margin: 0;
            }
        }
        border-bottom: 1px solid rgba(207, 207, 207, 0.815);
    }
    .second-footer{
        text-align: center;
        padding: 30px 0;
        letter-spacing: 1px;
        font-size: 0.9em;
        span{
            color:$primaryColor;
        }
    }
}


/*--------PAGE FILES-------*/
@import './pageHome';
@import './pageAbout';
@import './pageServices';
@import './pageVehicles';
@import './pageContact';






              /*Big Mobiles*/
//@media only screen and (min-width:575px){}
                /*Tablet*/
//@media only screen and (min-width:768px){}
                /*Laptop*/
//@media only screen and (min-width:960px){}               
                /*Desktop*/
//@media only screen and (min-width:1220px){}

/*--------RESPONSIVE DESIGN-------*/

            /*Small Tablets*/
@media only screen and (min-width:575px){
}
                /*Tablet*/
@media only screen and (min-width:768px){
    .wrapper{
        max-width: 748px;
    }
    header{
        height: 150px;
        padding:5px 30px;
        background-color: transparent;
        .logo{
            width: 250px;
        }
    }
    .responsivko{
        top:150px
    }
    .responsivko-skrol{
        top:70px
    }
    
    footer{
        .first-footer{
            grid-template-columns: repeat(3,1fr);
        }
    }
}
                /*Laptop*/
@media only screen and (min-width:960px){
    .wrapper{
        max-width: 960px;
    }
    
}
                /*Desktop*/
@media only screen and (min-width:1220px){
    .wrapper{
        max-width: 1100px;
    }
    header{
        nav{
            display: inline-block;
            ul{
                display: flex;
                flex-direction: row;
                li{
                    margin-right: 22px;
                    a{
                        color:#fff;
                        transition: all 0.1s ease-in-out;
                        &:hover{
                            color:$primaryColor;
                        }
                    }
                }
            }
        }
        .responsive-icon{
            display: none;
        }
    }
    footer{
        font-size: 1.1em;
    }
}
